<!-- Applies styling to the table element -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Students studying <%= mid %></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>GPA</th>
        </tr>
        <!-- Displays each object within the passed in array (from index.js)(EJS)-->
        <% students.forEach((student)=> { %>
            <tr>
                <td>
                    <%= student.sid %>
                </td>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <%= student.gpa %>
                </td>
            </tr>
            <% }) %>
    </table>

    <!-- Links back to the home page (home.html) -->
    <p><a href="/">Home</p>
</body>