<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<h1>Students</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>GPA</th>
    </tr>
    <% students.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.gpa %></td>
        </tr>
        <% }) %>
</table>
<a href="/">Home</p>