<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<h1>Modules</h1>
<table>
    <tr>
        <th>Module ID</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    <% modules.forEach((module) => { %>
        <tr>
            <td><%= module.mid %></td>
            <td><%= module.name %></td>
            <td><%= module.credits %></td>
        </tr>
        <% }) %>
</table>
<a href="/">Home</p>