<!-- Applies styling to the table element -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Lecturers</h1>

    <!-- Button used to re-direct to the addLecturer page (GET request to '/addLecturer')-->
    <button type="button"><a href="/addLecturer">Add Lecturer</a></button><br>
    <table>
        <tr>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Dept</th>
        </tr>
        <!-- Displays each object within the passed in array (from index.js)(EJS)-->
        <% lecturers.forEach((lecturer)=> { %>
            <tr>
                <td>
                    <%= lecturer._id %>
                </td>
                <td>
                    <%= lecturer.name %>
                </td>
                <td>
                    <%= lecturer.dept %>
                </td>
            </tr>
            <% }) %>
    </table>

    <!-- Links back to the home page (home.html) -->
    <p><a href="/">Home</p>
</body>