<!-- Applies styling to the table element -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Students</h1>

    <!-- Button used to re-direct to the addStudent page (GET request to '/addStudent')-->
    <button type="button"><a href="/addStudent">Add Student</a></button><br><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>GPA</th>
            <th>Action</th>
        </tr>
        <!-- Displays each object within the passed in array (from index.js)(EJS)-->
        <% students.forEach((student)=> { %>
            <tr>
                <td>
                    <%= student.sid %>
                </td>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <%= student.gpa %>
                </td>

                <!-- Each entry has a link which makes a GET request to specified path (handled by index.js to remove a student) -->
                <td><a href="/students/delete/<%= student.sid %>">Delete</a></td>
            </tr>
            <% }) %>
    </table>

    <!-- Links back to the home page (home.html) -->
    <p><a href="/">Home</p>
</body>